/*Momento em que carrega a pagina com o link*/
a:link {
    color: green;
    background-color: blue;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
/* Clica para visiar*/
a:visited {
    color: blue;
    background-color: green;
    text-decoration: none;
}
/* Hora que passa o mouse em cima*/
a:hover {
    color: yellow;
    background-color: black;
    font-size: 20px;
    border: dashed 3px yellowgreen;
}
a:active {
    color: white;
}
.pseudo {
    background-color: coral;
    height: 30px;
    width: 100px;
}
.pseudo:hover {
    background-color:darkblue;
    height: 50px;
    width: 200px;
    transition: .5s; 
    border-radius: 10px; /* borda */
    padding: 10px; /* o texto acompanha a animação*/
}
input:focus {
    background-color: bisque;
    height: 30px;
}